
/*********************
    Header styles
*********************/
.header {
  background:#3FA9F5;
  padding: 0px;
}

.header p {
  color:white;
  font-size:3em;
  text-align:center;
}

.logo {
  height:200px;
}

/*********************
      Navbar styles
*********************/
.navbar {
  justify-content: space-around;
}

.navbar li {
  text-align:center;
  border:1px solid black;
  border-radius: 3px;
  list-style-type: none;

}

.Active {
  background:#3FA9F5;
  color:white;
  transition: ease-in-out 0.5s;
}
/*********************
      Footer styles
*********************/

footer {
  position:absolute;
  left:0px;
  bottom:0px;
  height:35px;
  width:100%;
  background:black;
  color:white;
  text-align:center;
}
