<h1>
  {{title}}
</h1>

<p>Réservez votre dodospot pour un moment de bien être et de ressourcement</p>

<button>ZzzZzZZzz</button>

<form>
  <fieldset>
    <legend>Venez faire une sieste.</legend>
    <div>
      <label>Date de réservation</label>
      <input type="date" value="" name="dateReservation">
    </div>

    <div>
      <label for="">Nom</label>
      <input type="text" name="nom" value="">
    </div>

    <div>
      <label for="">Prénom</label>
      <input type="text" name="prenom" value="">
    </div>

    <button type="submit">Réservez !</button>

  </fieldset>
</form>
