<header class="ui-g header">
  <p class="ui-g-5">Sododo</p>
  <a class="ui-g-2" routerLink="/accueil"><img class="logo" [src] = "logosource"></a>
  <p class="ui-g-5">Prenez le temps de bien dormir !</p>
</header>

<nav>
  <ul class="ui-g navbar">
    <li class="ui-g-1" routerLink = "/accueil" routerLinkActive="Active">Accueil</li>
    <li class="ui-g-1" routerLink = "/reservation" routerLinkActive="Active" >Reserver</li>
    <li class="ui-g-1" routerLinkActive="Active">Option</li>
    <li class="ui-g-1" routerLinkActive="Active">Option</li>
    <li class="ui-g-1" routerLinkActive="Active">Option</li>
    <li class="ui-g-1" routerLinkActive="Active">Option</li>
  </ul>
</nav>


<router-outlet></router-outlet>


<footer>
  <p>Créé par M.KHAYAT Mehdi dans le cadre du cours Angular</p>
</footer>
