.formflex {
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
  height: 30px;
}

.title {
  font-size:4em;
  text-align:center;
  color:#3FA9F5;
}

fieldset {
  flex-direction: column;
  justify-content: space-around;
}
